<div class="app">
  <h1>Christmas Memory Game</h1>
  <div>
    <label>
      Number of Players:
      <select [(ngModel)]="numPlayers" [disabled]="gameStarted">
        <option [value]="1">1 Player</option>
        <option [value]="2">2 Players</option>
      </select>
    </label>
    <label>
      Grid Size:
      <select [(ngModel)]="gridSize" [disabled]="gameStarted">
        <option [value]="4">4x4</option>
        <option [value]="6">6x6</option>
        <option [value]="8">8x8</option>
      </select>
    </label>
  </div>
  <div>
    <button (click)="startGame()" [disabled]="gameStarted">Start</button>
    <button (click)="resetGame()">Reset</button>
  </div>
  <app-game-board *ngIf="gameStarted" [numPlayers]="numPlayers" [gridSize]="gridSize" [reset]="reset"></app-game-board>
</div>